* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  width: 550px;
  gap: 15px;
}
.panel {
  flex: 0.5;
  height: 350px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.panel.active {
  flex: 5;
  height: 350px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.panel h3 {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: #fff;
  font-size: 8px;
  bottom: 20px;
  left: 20px;
}
